.App {
  text-align: center;
}

.icons:hover path{
  fill: rgb(23, 192, 235)
}

.App-logo{
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .icons {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@media (prefers-reduced-motion: no-preference) {
  #iconSuperMario {
    animation: App-logo-spin infinite 1s linear;
  }
  #iconNaruto {
    animation: App-logo-spin infinite 5s linear reverse;
  }
  #iconIronMan {
    animation: App-logo-spin infinite 5s linear;
  }
  #icondarthVader {
    animation: App-logo-spin infinite 30s linear;
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.iconBox {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
